@charset "utf-8";
/* CSS Document */
@font-face
{
	font-family: 'PrudentialModern';
	src: url('../fonts/PrudentialModern-Medium.ttf');
}
@font-face
{
	font-family: "PrudentialModern";
	src: url("../fonts/PrudentialModern-Bold.ttf");
	font-weight: bold;
}
@font-face
{
	font-family: "PruModern-BoldSemiCon";
	src: url("../fonts/PrudentialModern-BoldSemCon.ttf");
}
/*@font-face
{
	font-family: "OpenSans-Regular";
	src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/OpenSans-Regular.woff2") format("woff2"),
         url("../fonts/OpenSans-Regular.woff") format("woff"),
         url("../fonts/OpenSans-Regular.ttf") format("truetype"),
         url("../fonts/OpenSans-Regular.svg") format("svg");
}*/
@font-face
{
	font-family: "OpenSans-Bold";
	src: url("../fonts/OpenSans-Bold.eot");
    src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/OpenSans-Bold.woff2") format("woff2"),
         url("../fonts/OpenSans-Bold.woff") format("woff"),
         url("../fonts/OpenSans-Bold.ttf") format("truetype"),
         url("../fonts/OpenSans-Bold.svg") format("svg");
	font-weight: bold;
}
.loginContainer, .forUserPassContainer, .mainContainer
{
	/*margin: 43px 0;*/
	margin: 0 0 43px 0;
	padding: 25px 45px;
	background: #ffffff;
	background: rgba(255,255,255,0.88);
	border: 1px solid #cccccc;
	border-radius:0px;
	box-shadow: 0px 2px 4px 0px rgba(204,204,204,1);
	width: 460px;
}
.login-info
{
	margin-top: 43px;
	width: 460px;
}
h1#pageTitle
{
	margin-top: 26px;
	margin-bottom: 0px;
}
@media screen and (min-width:0\0) and (min-resolution: +72dpi) { /* CSS hack for IE */
	h1#pageTitle
	{
		margin-top: 36px;
		margin-bottom: -14px;
	}
}
.forUserPassContainer, .mainContainer
{
	width: auto;
	max-width: 944px;
	margin-top: 25px;
}
.loginContainer .btn-Reg
{
	width: 190px;
	height: 55px;
	float: right;
	padding-top: 15px;
}
.loginContainer hr
{
	margin: 20px 0;
}
.loginContainer h3
{
	margin-bottom:20px;
}
.loginContainer .form-group
{
	margin-bottom: 20px;
}
.loginContainer .bottomLink
{
	float:left;
	margin-top: 25px;
	line-height: 20px;
}
.loginContainer .lastLink
{
	margin-left: 15px;
}
.loginContainer .control-label
{
	transition: transform .2s ease-in-out;
	color:#333333;
}
.loginContainer .floating-label{
	-ms-transform:translate3D(20px, 38px, 0);
	transform:translate3D(20px, 38px, 0);
	backface-visibility:hidden;
	transition: transform .2s ease-in-out;
	color:#666666;
}
.red, .loginContainer .has-error .control-label, .loginContainer .has-error .floating-label
{
	color: #ee0006;
}
.red 
{
	margin-top:5px;
}
.loginContainer #goButton
{
	min-height: 56px;
	width:100%
}
.clear
{
	clear:both;
}
.logoContainer{float:left;}
.mainTitle {
	margin-left:80px;
	padding: 9px 0 11px 0;
	color: #ffffff;
	font-size: 18px;
	float:left;
	line-height: 24px;
	font-weight: bold;
}
#headImages
{
	float:right;
	padding-top:11px;
}
#headImages a
{
	color: #f2f2f2;
	line-height: 20px;
}
#iamgeHelp
{
	margin-right: 20px;
	float: right
}
#questImg, #questImgM {
	background-image: url('../images/icons_sprite.png');
	width: 25px;
	height: 22px;
	background-position: -39px -5px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
#questImgM
{
	display: block;
	margin-left: 22px;
}
#iamgeHelp
{
	margin-right: 20px;
	float: right;
}
header a, header a:link, header a:visited, header a:hover, header a.underline, a#linkHelpPopup
{
	color:#ffffff;
}
a#linkLogOut
{
	margin-left: 15px;
}
a#linkMyProfileOld
{
	margin-left: 4px;
}
.darkBlue
{
	height: 36px;
	background-color:#2a3642;
}
.global-header
{
	padding: 11px 40px;
}
h3.newUser, h2.newUser, div.newUser
{
	float: left;
    margin-bottom: 0;
    padding-top: 14px;
}
div#sso_messages_00001
{
	margin-top: 21px;
}
div.alert:focus {
    outline: 1px dotted #cccccc;
}
.fontsLoading .popover, .fontsLoading .tooltip, .fontsLoading body, .fontsLoading .h1, .fontsLoading .h2, .fontsLoading .h3, .fontsLoading h1, .fontsLoading h2, .fontsLoading h3
{
	font-family:Arial, Helvetica, sans-serif;
}
#contactUsModal .modal-lg
{
	max-width: 760px;
}
#contactUsModal #gridSystemModalLabel
{
	font-size:40px;
	line-height: 42px;
}
#contactUsModal .modal-header
{
	padding-bottom:5px;
}
#contactUsModal .modal-body
{
	padding: 5px 15px 10px;
}
#contactUsModal modal-footer
{
	padding: 10px 15px 15px;
}
#contactUsModal .h3, #contactUsModal h3
{
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 20px;
}
#contactUsModal p
{
	margin-bottom: 0;
}
#contactUsModal ul
{
	list-style-type: none;
	padding-left: 23px;
	margin-bottom:30px
}
#btnClose2
{
	min-width: 81px;
}
#contactUs, #logOut, #logOutIcon, #myProfileIcon, #hiUser, #userIcon, #caretDownIcon
{
	display: inline-block;
	padding-top:2px;
	vertical-align: middle;
}
#logOutIcon, #myProfileIcon, #userIcon, #caretDownIcon
{
	text-align: left;
	width: 20px;
}
#caretDownIcon
{
	padding-top:5px;
	text-align: right;
}
#toprow-right
{
	display: none;
}
/*#toprow-right .btn-group.open .dropdown-toggle
{
	background:none;
	box-shadow:none;
}*/
.navtabs li.top-nav-item
{
	color: #fff;
	font-weight: normal;
    height: 65px;
    line-height: normal;
    text-decoration: none;
	padding: 0;
	font-size: 15px;
}
.navtabs li#workplaceBenefitsTxt
{
	font-family: OpenSans-Bold, OpenSans-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 700;
    line-height: 65px;
	padding: 0 20px;
	font-size: 18px;
}
.navtabs > li > a, .navtabs > li > a:visited
{
	line-height:normal;
	padding-top: 22px;
}
.twoLinesText > li > a
{
	padding: 0 8px;
}
.twoLinesText > li > a, .twoLinesText > li > a:visited
{
	padding-top: 12px;
}
/*.twoLinesText #linkBenefitsOverview
{
	max-width: 121px;
}
.twoLinesText #linkClaimsAndAbsence
{
	max-width: 146px;
}
.twoLinesText #linkGUL
{
	max-width: 175px;
}
.twoLinesText #linkPOGH
{
	max-width: 165px;
}*/
ul.twoLinesText{max-width:619px}
.twoLinesText li.top-nav-item
{
	width:25%;
}
.navtabs li, .navtabs li a
{
	vertical-align:top;
}
#linkLogOut, #linkHiUser{color:#ffffff;}
#mobile-buttons{ display: none;}
#toprow-left {
	padding:15px 10px;
}
.nav-mobile ul, .no-margin-bottom, .pru-view-navigation nav.nav-img ul li img
{
	margin-bottom:0;
}
.global-links li a {
	font-family:OpenSans-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
	border:0 solid #ddd;
	padding:13px 13px 13px 30px;
	font-size: 15px;
}
.hiUser
{
	padding: 16px 16px 0 16px;
	font-size: 19px;
	color:#333;
}
.hiUser span
{
	margin-right: 8px;
	display:inline-block;
}
a.linkMyProfile
{
	margin-left:29px;
}
a#linkMyProfile
{
	color:#333;
}
.navtabs > li:hover .secondary-nav-container
{
	z-index: 996;
}
.navtabs > li.active > .secondary-nav-container
{
	z-index: 995;
}
@media (min-width:1200px) {
	.nav-open-level-two #dashBoardTopNav .toprow { padding-bottom: 61px; }
	#toprow-right
	{
		display: inline-block !important;
		width: 25%
	}
	#toprow-left
	{
		width: 74%;
		display:inline-block;
		padding:0
	}
	.nav-open-level-two .toprow
	{
		padding-bottom: 61px;
	}
}
@media (max-width:525px) {
	.loginContainer, .forUserPassContainer, .mainContainer
	{
		width: auto !important;
		max-width: 460px;
		padding: 20px 20px;
	}
	.login-info
	{
		width: auto !important;
		max-width: 460px;
	}
}
@media (max-width:449px) {
	h3.newUser, h2.newUser, .loginContainer .btn-Reg, div.newUser
	{
		float:none;
	}
	.loginContainer .btn-Reg
	{
		margin-top:20px;
	}
	.loginContainer .bottomLink
	{
		float:none;
		margin-top: 25px;
		line-height: 20px;
	}
	.loginContainer .lastLink
	{
		margin-left: 0;
		margin-top: 10px;
	}
}
/*#skip {opacity:1 !important}*/
.err-sr-only{
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute;
    width: 1px;
    display: inline !important;
}
.btn-critical:focus, .btn-critical:hover
{
	border-color: #806900 !important;
}
input.centerPlaceholder::placeholder, input.centerPlaceholder:placeholder-shown
{
	text-align:center;
}
input.centerPlaceholder::-webkit-input-placeholder {
   text-align: center;
}

input.centerPlaceholder:-moz-placeholder { /* Firefox 18- */
   text-align: center; 
}

input.centerPlaceholder::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

input.centerPlaceholder:-ms-input-placeholder {  
   text-align: center; 
}
.forUserPassContainer h3.newUser, .mainContainer h3.newUser, .forUserPassContainer div.newUser, .mainContainer div.newUser
{
	margin-bottom:25px;
}
.mainContainer h3.newUser, .mainContainer div.newUser
{
	float:none;
}
.forUserPassContainer .form-group, .mainContainer > #step1 > .form-group, .subContentWider .form-group
{
	width: 41%;
	float: left;
	clear: both;
}
.mainContainer > #step1 > .form-group
{
	width: 38%;
}
.subContentWider .form-group
{
	width:48%;
}
.subContentWider .fullWidth
{
	width:100%;
}
.step-indicator
{
	width:50%;
}
.fileAClaimStepIndicator{
	margin:50px 50px 30px 50px;
}
#fileAClaimStepIndicator.step-indicator
{
	width:70%;
}
.forUserPassContainer .webCtrlNumLink
{
	width:41%;
	float:left;
	margin: 39px 0 15px 40px;
}
.mainContainer .webCtrlNumLink
{
	width: 90%;
	margin: 20px 0;
	text-align:center;
}
.webCtrlNumBox1
{
	width:50%;
	float:left;
	padding: 0 15px 15px 0;
}
.webCtrlNumBox2
{
	width:50%;
	float:left;
	padding: 0 0 15px 45px;;
	border-left: 1px solid #ccc;
}
#agreementModal .webCtrlNumBox2{border-left: none 0px; padding-left:20px}
#agreementModal .webCtrlNumBox1, #agreementModal .webCtrlNumBox2{padding-bottom:0px;}
#webAccessCodeModal .modal-lg
{
	max-width: 840px;
}
#webAccessCodeModal .modal-dialog
{
	width: auto;
}
.btnContainer
{
	text-align: right;
	clear:both;
	padding-top:10px;
}
.forUserPassContainer .btnContainer #btnCancel, .mainContainer .btnContainer #btnCancel, .mainContainer .btnContainer #btnBack
{
	margin-right:60px;
	width: 82px;
}
.forUserPassContainer .btnContainer #btnNext, .mainContainer .btnContainer #btnNext
{
	width: 100px;
}
.forUserPassContainer #btnLogin, .mainContainer #btnLogin
{
	margin-top:20px;
	min-width: 175px;
}
.forUserPassContainer .keepOnSameLine
{
	clear:none;
	margin-left:30px;
}
.mainContainer .keepOnSameLine
{
	clear:none;
	margin-left:4%;
}
.mainBgImage
{
	background:url(../images/background_1366.jpg) no-repeat center top;
	background-size: cover;
}
.orDiv
{
	float:left;
	width: 20%;
	padding-top: 35px;
	text-align: center;
	font-weight: bold;
	font-size: 110%;
}
.subContent
{
	width: 38%;
	margin: 0 auto;
}
.subContentWider
{
	width:57%;
	margin: 30px auto 0;
}
#agreementModal h4{ font-family:PruModern-BoldSemiCon; font-size: 20px;line-height: 22px;}
#agreementModal h4{margin:30px 0;}
#agreementModal .agreementModal-Body{max-height:200px;}
@media (max-width:767px) {
	.webCtrlNumBox1, .webCtrlNumBox2, #agreementModal .webCtrlNumBox2
	{
		width:auto;
		float:none;
		padding: 0 0 15px;
		border-left: none;
	}
	#agreementModal .webCtrlNumBox1, #agreementModal .webCtrlNumBox2{padding-bottom:0}
	#agreementModal h4{ margin: 20px 0}
	.webCtrlNumBox1 img, .webCtrlNumBox2 img
	{
		max-width:100%;
		height:auto;
	}
	.mainBgImage
	{
		background:url(../images/background_768.jpg) no-repeat right top;
		background-size: cover;
	}
	.loginContainer
	{
		margin: 0 auto 43px auto;
	}
	.login-info
	{
		margin: 43px auto 21px auto;
	}
	.fileAClaimStepIndicator{
		margin: 20px 20px 10px 20px;
	}
}
@media (max-width:991px) {
	.forUserPassContainer .form-group, .forUserPassContainer .webCtrlNumLink, .mainContainer > #step1 > .form-group, .mainContainer .webCtrlNumLink, .subContentWider .form-group
	{
		width: 100%;
		float:none;
		margin: 0 0 15px 0;
	}
	.orDiv
	{
		padding: 0;
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
	.step-indicator, .subContent, .subContentWider, #fileAClaimStepIndicator.step-indicator
	{
		width: 100%
	}
	.forUserPassContainer .btnContainer #btnCancel, .mainContainer .btnContainer #btnCancel, .mainContainer .btnContainer #btnBack
	{
		margin-right:45px;
		width: auto;
	}
	.forUserPassContainer .btnContainer #btnNext, .mainContainer .btnContainer #btnNext
	{
		width: auto;
	}
	.forUserPassContainer .keepOnSameLine, .mainContainer .keepOnSameLine
	{
		clear:both;
		margin-left:0;
	}
}
@media (min-width:1900px){
	.mainBgImage
	{
		background:url(../images/background_1920.jpg) no-repeat center top;
		background-size: cover;
	}
}
.popover
{
	min-width: 296px;
	min-width: 296px;
}
.popover ul
{
	padding-left: 15px;
}
.form-group.has-error .control-label-legend::before, .form-group.has-error .control-label::before
{
	padding-right:10px;
}
.has-error .help-block
{
	color:#737373;
}
/* Mobile Navigation */
#menu-bars-bars, #menu-bars .btn, #menu-bars-close{ display: inline-block;}
html.nav-mobile-opened #site-overlay, html.nav-mobile-opened .nav-mobile {
		display:block;
}
.nav-mobile
{
	max-width: 480px;
}
@media (min-width:1200px) {
	#menu-bars-bars, #menu-bars .btn, #menu-bars-close{ display:none;}
	html.nav-mobile-opened #site-overlay, html.nav-mobile-opened .nav-mobile {
		display:none
	}
}
@media (max-width:480px) {
	#menu-bars-bars, #menu-bars .btn, #menu-bars-close{ display: inline-block;}
	#mobile-buttons{ display: none;}
}
.nav-mobile ul {
	padding-left:0;
	list-style:none
}
.nav-mobile>ul>li>a, .nav-mobile>ul>li>a, .nav-mobile>ul>li>p {
	font-size:19px
}
.nav-mobile .controls, .nav-mobile>ul>li {
	border-bottom:thin solid #ccc
}
.nav-mobile ul li a {
	text-decoration:none
}
.nav-mobile {
	width:100%;
	height:100%;
	top:0;
	left:-175%;
	position:absolute;
	overflow-y:auto;
	background-color:#fff;
	z-index:996;
	-webkit-transition:left 525ms;
	transition:left 525ms
}
#site-overlay{z-index:995;}
.nav-mobile.nav-mobile-opened {
	left:0
}
.nav-mobile ul li a {
	display:block;
	padding:16px
}
.nav-mobile ul li a, .nav-mobile ul li a.active, .nav-mobile ul li a.active:hover, .nav-mobile ul li a:hover, .nav-mobile ul li a[data-toggle=collapse] {
	color:#001f45
}
.nav-mobile ul li a.list-group-item.active, .nav-mobile ul li a.list-group-item.active:focus, .nav-mobile ul li a.list-group-item.active:hover
{
	color:#ffffff;
}
.nav-mobile ul li a.active {
	cursor:default
}
.cursor-pointer, .filters .filtertype, .modal-close-home, .styled-select ul, ul#pru-accordion .cursor-pointer {
	cursor:pointer
}
.nav-mobile ul li a:not(.active):hover {
background-color:#e3f2f4
}
.nav-mobile ul li a.nav-inline {
	display:inline-block;
	padding:16px
}
.nav-mobile ul li a .pipe-separator {
	color:#999
}
.nav-mobile ul li p {
	padding:16px
}
.nav-mobile ul li li {
	background-color:#ebebeb
}
.nav-mobile ul li li a {
	color:#07639d;
	padding:11px 16px 11px 40px
}
.nav-mobile ul li li a.active {
	border-left:thick solid #001f45
}
.nav-mobile ul li li li {
	background-color:#dadada
}
.nav-mobile ul li li li a {
	padding-left:64px
}
.nav-mobile>ul>li>a.active {
	background-color:#ebebeb
}
.nav-mobile .controls {
	padding:16px;
	height:50px
}
.nav-mobile .controls .close, #warningContent {
	color:#333;
	font-size:15px
}
.nav-mobile li .star, .nav-mobile li .fa, .nav-mobile li .fund-tracker-table .table-to-list .star {
	margin-right:8px
}
/* Old Styles for popup */
.hdrPulloutPanel2 {	position:absolute;right:0;overflow:visible; width:500px; z-index:997;}
#profilePullout {margin-right:100px;}
.pulloutContent { background: #f6f5f2 url(../images/header_tab_bg.gif) repeat-x bottom left; padding:25px 5px 5px 5px;border:1px solid #c3cbd0;}
@media (max-width:650px){
	#profilePullout {margin-right:0;}
}
.accomodatePopup
{
	min-width:876px;
	overflow:auto;
}
@media (max-width:800px){
	#registerDialog {
		top:50% !important;
		left:0 !important;
		margin:-250px 0 0 0 !important;
	}
	#registerDialog .dijitDialogPaneContent
	{
		overflow:hidden !important;
		height:430px !important;
		width:800px !important;
	}
}
@media (max-width:876px){
	#duplicate_claim_window, #draftIFrameDIV, #actDialogTimeAway {
		top:100px !important;
		left:0 !important;
		
	}
	#duplicate_claim_window .dijitDialogPaneContent, #draftIFrameDIV .dijitDialogPaneContent, #actDialogTimeAway .dijitDialogPaneContent
	{
		overflow:hidden !important;
		height:516px !important;
		width:876px !important;
	}
	#actDialogTimeAway .dijitDialogPaneContent
	{
		height:575px !important;
	}
}
.mainContainer h3
{
	margin-top: 21px;
}
h3.popover-title
{
	margin-top:0px;
}
.subContent h4, .mainContainer .alert
{
	margin-bottom: 20px;
	margin-top: 30px;
}
.subContent .form-group
{
	width:100%;
}
.mainContainer > #step1 > .clearNone
{
	clear:none;
}
.forSR {position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;}
.popover.top{margin-top:-33px;}
@media (max-width:410px){
	.mainContainer #step3 .btnContainer #btnBack {margin-right:5px}
	.mainContainer #step3 .btnContainer .btn{font-size:13px; padding:11px 10px;}
}
.agreementModal-Body
{
	background: #f5f5f5;
	border: 1px solid #dddddd;
	border-radius: 5px;
	overflow: auto;
	max-height: 330px;
}
@media (min-height:800px)
{
	.agreementModal-Body{
		max-height: 480px;
	}
}
.printModalButtonDiv
{
	float:left;
}
.agreeCheckBox
{
	float:right;
	margin-right: 30px;
	padding-bottom: 30px;
}
.secondary-nav-container
{
	display:block;
	background: #fff;
}
.navigationpane {
	height:60px;
	line-height:60px;
	padding-left:0;
	white-space:nowrap;
	width:100%;
	color:#07639d;
	margin-bottom: 0;
}
.navigationpane ul
{
	list-style-type: none;
}
.navigationpane li {
    margin-right: -4px;
	display: inline-block;
}
.navigationpane li a {
	color:#07639d;
	display: inline-block;
	padding: 0 20px;
}
.navigationpane > li:first-child > a {
    border-left: 0 none;
    padding-left: 0;
}
.navigationpane .selectedSecondNode>:first-child {
    color: #000;
    display: block;
    font-weight: 700;
    line-height: 60px;
    position: relative;
}
.tertiary-nav-container
{
	font-size: 13px;
}
.pru-module-rich-text-editor, .floatLeft
{
	float:left;
}
.floatRight, .pru-module-module-btn-right
{
	float:right;
}
.border-b {
    border-bottom: 1px solid #ccc;
}
#startANewClaimModal h3, #startANewClaimModal .h3 { margin-bottom: 20px;}
#startANewClaimModal #aAndDClaim h4{ font-family:PruModern-BoldSemiCon;font-size: 20px;line-height: 22px;margin-bottom: 15px;}
#startANewClaimModal #aAndDClaim ul{ padding-left:15px;}
#startANewClaimModal #aAndDClaim ul li{ margin-bottom:15px;}
#aAndCIClaim .btn, #aClaim .btn{ min-width: 254px;}
#aAndCIClaim .btn:first-child{margin-right:30px;}
#btnLineBreak { display: none;}
#dbStartClaimDiv{float:right}
@media (max-width:700px){
	#aAndCIClaim .btn:first-child{margin-right:0; margin-bottom:30px;}
	#btnLineBreak { display: block;}
	#dbStartClaimDiv{float:none; text-align:center;}
}
@media (max-width:410px){
	#startANewClaimModal .btn{font-size:13px; padding:11px 10px;}
	#aAndCIClaim .btn, #aClaim .btn{ min-width: 210px;}
}
.pendng{color:#C15505;}
.dashboardContainer h4.sectionTitle
{
	font-family:PruModern-BoldSemiCon;
	font-size: 20px;
    line-height: 22px;
	margin: 35px 0 25px;
	border-top: 1px solid #999;
	padding-top: 15px;
}
#benefitsBeanNew  h4.sectionTitle
{
	font-family:PruModern-BoldSemiCon;
	font-size: 20px;
    line-height: 22px;
	margin: 0 0 20px 0;
	border-top: 0 none;
	padding-top: 20px;
}
#benefitsBeanNew .panel-accordion-default .panel-body {
	    padding: 0;
	}
#benefitsBeanNew #EOIStatus .AccordionContentpopDisplay {
	    font-size: 12px;
	    padding: 10px 0 0 60px;
	}
#benefitsBeanNew .panel h1,#benefitsBeanNew  .panel h2,#benefitsBeanNew  .panel h3,#benefitsBeanNew  .panel h4{
		margin-top:0;
	}
.dashboardContainer .popover.top, .actionRequired .popover.top, #benefitsTitle .popover.top, #EOIStatus .popover.top{margin-top:-10px;}
.blueIcon
{
	color:#07639d;
	margin-left:20px;
}
.flip-scroll .table hr{ margin:10px 0; max-width:80px; text-align: left;} 
.fa-chevron-right, .fa-chevron-down
{
	margin:0 0 0 9px;
	font-size:20px;
	width:20px;
}
.tableNew {width:100%;}
.tableNew th, .tableNew td {padding: 8px;}
.tableNew th {padding-bottom: 2px;}
.table > tbody > tr > td.padZero div .tableNew td{padding-top: 2px;}
.table > tbody > tr > td.padZero{padding:0;}
.actionRequired
{
	background: #FFFFFF;
	padding: 20px 30px;
	margin-top: 15px;
}
.actionRequired h4{ font-family:PruModern-BoldSemiCon; font-size: 20px;line-height: 22px;margin-bottom: 15px;}
@media (max-width:410px){
	.actionRequired
	{
		padding:20px;
	}
}
#mobileBenefits { display:none;}
@media only screen and (max-width:992px) {
	#mobileBenefits { display:block;}
	#desktopBenefits { display:none;}
	.linkDivideEqually, .beneType
	{
		display:block;	
	}
}

/* EOI CX Ph2 June 2017 Changes - Start */
.eoiaccor-poptitle1 {
    color: #165a89;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 3px;
    width: 30%;
}

#EOIStatus .AccordionContentpopDisplay{
	background-color: rgb(255, 255, 255);
	padding: 20px;
}

.pade1{
	margin-left: 8%;
}

.pade2{
	padding-left: 5px;
}

.pade3{
	padding-left: 10px;
}

.mare1{
	margin-right: 8%;
}

.mare2{
	margin-left:20px;
}

.martop10{
	margin-top:10px;
}

.clearfix{
	clear: both;
}

.floatleft{
	float:left;
}
.floatright{
	float:right;
}
.colEoi1{
	float: left;
    margin-left: 0;
    width: 45%;
}
.bold{
	font-weight: bold;
}
.pad65{padding: 0 65px;}
.colEoi2{
	float: left;
    margin-left: 35px;
    width: 20%;
	
}
.colEoi3{
	float: left;
    margin-left: 0;
    width: 75%;
}

.colEoi4{
	float:left;
	width:25%;
}


.eoiStatement{
	margin-bottom: 30px; 
}

#benefitsBeanNew .statusPending{
	color: #c15505;
}

#benefitsBeanNew .statusPendingTxt{
	color: #c15505;
	margin-left: 5px;
}

#benefitsBeanNew .statusApproved{
	color: #297c00;
}
#benefitsBeanNew .statusApprovedTxt{
	color: #297c00;
	margin-left: 5px;
}

#benefitsBeanNew .statusClosed{
	color: #000;
}
#benefitsBeanNew .statusClosedTxt{
	color: #000;
	margin-left: 5px;
}

#benefitsBeanNew .popTxt{
	text-decoration: none;
	color: prublue;
}

#benefitsBeanNew .rowEoi{
	
	border-bottom: 1px solid #ccc;
}

#benefitsBeanNew .rowEoi:before{
	clear:both;
}

#benefitsBeanNew .titeoi{
	border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 10px;
    width: 98%;
    font-weight: bold;
    font-size:12px;
    margin-bottom: 10px;
}
#benefitsBeanNew .panel-accordion-default:first-child {
    border-top: none;
    border-bottom: none;
}
.eoiTestDate{
	padding: 5px 40px;
	line-height: 18px;
	
}

.eoiTest{
	margin-bottom: 10px;
}

.eoiOutstanding{
	color: #c15505;
}

h1 .eoiTit{
	float:left; 
	line-height:23px
}
 
.eoi-infoicon {
    background: url("../images/info_icon1.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    float: left;
    margin-left: 10px;
    width: auto;
}
#benefitsBeanNew .colFullWidth{
	width:95%;
}

#benefitsBeanNew .colFullWidth .eoiTest{
	width:48%;
	float:left;
}

#benefitsBeanNew .eoirow {
    border-bottom: 1px solid #999;
    clear: both;
    margin-left: 10px;
    padding: 20px 10px;
}
#benefitsBeanNew {margin:0px; padding:15px 0 0; /*background-color:#0077bd*/font:15px OpenSans-Regular,Arial,"Helvetica Neue",Helvetica,sans-serif; }
#benefitsBeanNew .subcol1{font-size:12px; font-weight:bold; float:left}
#benefitsBeanNew .subcol2{font-size:12px; float:right; margin-right:10px;}
#benefitsBeanNew .subcol3{font-size:12px; float:right; margin-right:75px}
#benefitsBeanNew .panelaccordion-B{margin:10px 20px 0px 20px}

@media (max-width:998px) {
	#benefitsBeanNew .colEoi2 {
	    clear: both;
	    float: none;
	    margin-left: 0;
	    width: auto;
	}
	#benefitsBeanNew .colEoi3 {
	    clear: both;
	    float: none;
	    margin-left: 0;
	    width: auto;
	}
	#benefitsBeanNew .colEoi4 {
	    clear: both;
	    float: none;
	    width: auto;
	}
	.pade1 {
	    clear: both;
	    float: none !important;
	    margin-left: 0;
	}
	.mare2 {
	    clear: both;
	    display: block;
	    float: none !important;
	    margin-left: auto;
	}
	#benefitsBeanNew .accordion-icon-control .accordion-icon{
		font-size: 12px;
    		line-height: 10px;
    margin: 0;
    	padding: 0;
	}
	#benefitsBeanNew .subcol1, #benefitsBeanNew .subcol2, #benefitsBeanNew .subcol3{
		display:block;
		clear:both;
		float:none;
	}
	#benefitsBeanNew .panel-title {
	    font-size: 13px;
	    margin-top: 0;
	    font-weight: bold !important;
	}
	#benefitsBeanNew .colEoi1 {
	    float: none;
	    margin-left: 0;
	    width: auto;
	}
	#benefitsBeanNew .panel-accordion-default .panel-title a {
	    padding: 10px 0;
	}
	#benefitsBeanNew .eoirow {
	    border-bottom: 1px solid #999;
	    clear: both;
	    margin-left: 10px;
	    padding: 10px 5px;
	}
	#benefitsBeanNew .panelaccordion-B {
	    margin: 0 20px;
	}

	#benefitsBeanNew .accordion-icon-control.collapsed .accordion-icon:before {
	   
	   position: relative;
	    right: -4px;
	}
	#benefitsBeanNew .eoiTestDate {
	    line-height: 18px;
	    padding: 5px 20px;
	}
}
/* EOI CX Ph2 June 2017 Changes - End */
/* EOI-EEE changes starts */
.noborder{border:none!important;}
.questionContainer{ padding:20px 40px 20px; min-height:50px; margin-bottom: 20px; border:1px solid #979797;} /* background:#f2f2f2; efefef*/
.questionContainer.confirm {padding:20px 0; margin:0 40px 20px; border:none; border-bottom:1px solid #979797;}
.questionContainer.confirm.last{border-bottom:none;}
.questionContainer .h2{position:relative;padding-right:30px;font-size:24px; display:block;}
.questionContainer .h2 .wIcon{float:right; position:absolute; top:0px; right:0px; font-size:30px;}
.questionContainer .h2 .fa-caret-right{margin-left:-15px}
.questionContainer .h2 .fa-caret-down{margin-left:-20px}
.questionContainer label.h2{margin-bottom:5.5px} 
.answerElements{padding-top:10px}
.answerElements button{margin-left:25px; min-width:75px;}
.answerElements.btn-group, .questionContainer > .form-group > .red{margin-left:25px;}
.questionContainer .form-group .control-label{ margin-top:0px;}
/*.questionContainer > .form-group{margin-bottom:0;}*/
.questionContainer > .form-group > input[type=text].form-control{margin-left:25px; max-width:700px;margin-top:10px}
.questionContainer .h4.yesNo{margin-bottom:20.5px;}
.questionContainer button.yesNoBtn{display:inline-block; margin-bottom:15px}
.questionContainer > .form-group > select{margin-left:25px; width:auto; max-width:100%;margin-top:10px;padding-right:24px}
.questionContainer input[type=text].form-control.selectAnswer{width:auto; max-width:100%; margin-left:0}
.questionContainer.confirm .form-group .red, .questionContainer.confirm > .form-group > input[type=text].form-control{margin-left:0;}
.btn-switch-primary .active {
    color: #fff !important;
    background: #07639d !important;
    border: 1px solid #07639d !important;
}
.btn-switch-red .active {
    color: #fff !important;
    background: #EE0006 !important;
    border: 1px solid #EE0006 !important;  
}
.has-error .btn-switch-primary .btn-default {
	border-color:#EE0006;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075)
}
.has-error .btn-switch-primary .btn-default:focus {
	border-color:#bb0005;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ff5559;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ff5559
}
.questionContainer .control-label-legend{margin-bottom: 10.5px;}
/*.questionContainer .form-control[disabled]{background-color: #ffffff;}*/
.addQuestionContainer{padding:20px 30px 0 25px;}
.addQuestionContainer textarea{height:75px}
.margin-zero {margin: 0;}
.addQuestionContainer legend, .questionContainer.confirm legend{font-size:15px; display:inline-block; margin-bottom:5px; font-weight:700; max-width:100%; border:none; padding:0 15px;}
h4.hpi{border-bottom:1px solid #999; padding-bottom:10.5px; margin-top:0;}
.h4.addHP{padding-top:5px;}
.h4.addHP > a {color:#333; text-decoration:none;}
.h4.addHP > a > span.fa{margin-top:-5px; font-size:35px; vertical-align:middle}
.btnDelete{ float:right; display:block;}
.inputBrand{display:inline-block; width:auto; margin-left:25px;}
.questionContainer .input-group.dob, .questionContainer #weight, .questionContainer #heightFeetNum, .questionContainer #heightInchNum {max-width: 200px;}
.questionContainer #weight {display:inline-block}
.has-error #err-dob.help-block, .has-error #helpTextWeight, .pru-datepicker .has-error .help-block{color:#ee0006;}
#err-weight, #err-height, .coverageType, .errCoverageType{margin-left:0 !important}
#warningButtons .btn{min-width:80px}
.coverageAmount{ max-width:300px}
.coverageType, .anotherCoverage{max-width:990px !important}
.confirm .coverageType, .confirm .anotherCoverage{max-width:930px !important}
.lblCoverageType{width:auto;display: inline-block !important;}
.input-group-addon {background-color:#f2f2f2;}
#btnPrintOrSave, #beneSubmitDiv, #btnStartNewclaim{float:right; margin-bottom:20px}
#todaysDate{margin-top:-37px; margin-bottom:5.5px; padding-right:0px}
@media (max-width:768px) {
	/*.questionContainer button.yesNoBtn{margin-top:10.5px !important;}*/
	.questionContainer, .addQuestionContainer{padding:20px 10px 0;}
	.questionContainer{padding-bottom:20px}
	.questionContainer > .form-group > input[type=text].form-control{width:auto;max-width:90%}
	.questionContainer.confirm > .form-group > input[type=text].form-control{width:100%;max-width:100%}
	.questionContainer > .form-group > select{max-width:90%;}
	.questionContainer input[type=text].form-control.selectAnswer{display:block;margin-top:10.5px !important;}
	.btnDelete{float:none; text-align:right; margin-top:10.5px}
	.anotherCoverage .btnDelete{margin-top:0;margin-bottom:10.5px;}
	.inputBrand{margin-left:0;margin-top:25px;}
	.questionContainer #heightInchNum{margin-top:20px;}
	#todaysDate{margin-top:15px; margin-bottom:10px}
}
@media (max-width:440px) {
	#btnPrintOrSave{margin-top:20px;float:left; clear:both}
	.coverageType, .anotherCoverage{width:100% !important}
}
@media (max-width:500px) {
	#beneSubmitDiv{margin-top:20px;float:left; clear:both}
}
@media (max-width:991px) {
	.questionContainer #weight, .questionContainer #heightFeetNum, .questionContainer #heightInchNum {max-width: 150px;}
	.coverageType, .anotherCoverage{width:90% !important}
	section.anotherCoverage{margin:0}
	section.anotherCoverage .col-sm-5, section.anotherCoverage .col-sm-7{padding:0}
	.anotherCoverage .coverageType{width:100% !important}
}
@media (max-width:1199px)
{
	.questionContainer .input-group.dob{max-width:270px}
}
.datepicker table tr th.datepicker-close{color:#333; text-align:right; cursor:pointer}
.dropdown-menu{max-height:395px;}
.questionContainer div.h2.addDocInfo{padding:20px 0 0 0; border-top:1px solid #999; margin-top:20px}
div.addDocInfo > span > button.btn{font-family:OpenSans-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;}
a#btnReturnToHeltStmt{text-decoration:none !important}
.alert-warning p, .alert-info p, .alert-danger p, .alert-success p{color: #000000}
#maincontent .alert-warning p a, #maincontent .alert-info p a{text-decoration:none}
#warningEnrollTextDiv{float:left;}
#warningEnrollBtnDiv{float:right;}
@media screen and (min-width:1200px) {
	.col-lg-6 #warningEnroll, .col-lg-6 #warningClaim, .col-lg-6 #warningPOGH, .col-lg-6 #warningBeneficiaries{min-height:127px}
	.col-lg-4 #warningEnroll, .col-lg-4 #warningClaim, .col-lg-4 #warningPOGH, .col-lg-4 #warningBeneficiaries{min-height:182px}
	.col-lg-3 #warningEnroll, .col-lg-3 #warningClaim, .col-lg-3 #warningPOGH, .col-lg-3 #warningBeneficiaries{min-height:182px}
	.col-lg-4 #warningEnrollBtnDiv,.col-lg-3 #warningEnrollBtnDiv{float:none; text-align:center; clear:both;}
}
@media (min-width:767px) {
	.col-xs-12 #warningEnrollTextDiv{width:75%}
	.col-xs-12 #warningEnrollBtnDiv{margin-top: -15px}
	section.anotherCoverage .col-sm-5 {padding-right:15px;}
	section.anotherCoverage .col-sm-7 {padding-left:15px;}
}
.alert-warning:after {
	color:#C15505;
}
.alert-info:after {
	color:#07639d;
}
.alert-danger:after {
	color:#EE0006;
}
.questionContainer .popover.top
{
	color: #333;
	margin-top:-10px;
}
#uploadedDocuments .table
{
	width:90%;
	max-width:767px;
	font-size: 17px;
}
.confirm #uploadedDocuments .table
{
	width:90%;
	max-width:640px;
}
#uploadedDocuments .table > thead > tr > th
{
	border-bottom: none;
}
#uploadedDocuments .table > tbody > tr > td, #uploadedDocuments .table > tbody > tr > th, #uploadedDocuments .table > tfoot > tr > td, #uploadedDocuments .table > tfoot > tr > th, #uploadedDocuments .table > thead > tr > td,#uploadedDocuments  .table > thead > tr > th
{
	border-top: none;
}
/* EOI-EEE changes ends */

/* DCI css */
.editproiframe{
	width: 100%; height: 1700px;	
}
@media (max-width:991px){
	.editproiframe{
		width: 100%; height: 2230px	
	}
}
@media (max-width:767px){
	.editproiframe{
		width: 100%; height:2230px
	}
}
@media (max-width:480px){
	.editproiframe{
		width: 100%; height: 2700px	
	}	
}
@media (min-width:1200px){
	.editproiframe{
		width: 100%; height: 1700px;	
	}
}
.mainContainer #billGroup99 .form-group 
{
	clear:none;
}
/* Beneficiary page CSS */
#bene_div .form-group{margin-bottom:0}
#bene_div .input-sm{max-width:55px; display:inline-block;}
legend#designateCoverageTxt{margin-right:20px; float: left; display: inline-block; width:auto;}
.beneCoverage{ padding:11px 8px !important; background-color:#f2f2f2 !important; font-size:18px !important; line-height:20px; color:#07639d !important; font-weight:500; font-family:OpenSans-Semibold;}
#generaltxt{display:inline-block;}
a[href$='.pdf']:before {
content:"\f1c1\00a0 "
}
.flip-scroll thead {
  background-color: #f2f2f2; }
.flip-scroll tbody tr th {
  font-weight: normal; }
@media only screen and (max-width: 1200px) {
  .flip-scroll .table-bordered > thead tr td, .flip-scroll .table-bordered > thead tr th, .flip-scroll tbody tr td, .flip-scroll tbody tr th, .flip-scroll tfoot tr td, .flip-scroll tfoot tr th {
    border: 0px solid #ddd;
    border-bottom: 1px solid #ddd; }
    .flip-scroll .table-bordered > thead tr td:last-child, .flip-scroll .table-bordered > thead tr th:last-child, .flip-scroll tbody tr td:last-child, .flip-scroll tbody tr th:last-child, .flip-scroll tfoot tr td:last-child, .flip-scroll tfoot tr th:last-child {
      border-bottom: 0px solid #ddd; }
  .flip-scroll * html .cf {
    zoom: 1; }
  .flip-scroll *:first-child + html .cf {
    zoom: 1; }
  .flip-scroll table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    width: 100%; }
  .flip-scroll th {
    margin: 0;
    vertical-align: top;
    text-align: left;
    display: block;
    border-bottom: 0;
    border-left: 0; }
    .flip-scroll th:last-child {
      border-bottom: 1px solid #777777; }
  .flip-scroll td {
    margin: 0;
    vertical-align: top;
    display: block;
    min-height: 1.25em;
    text-align: left;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }
    .flip-scroll td:last-child {
      border-bottom: 1px solid #777777; }
  .flip-scroll thead {
    display: block;
    float: left;
    background-color: #f2f2f2;
    border-right: 1px solid #ddd; }
    .flip-scroll thead tr {
      display: block; }
  .flip-scroll tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap; }
    .flip-scroll tbody tr {
      display: inline-block;
      vertical-align: top;
      border-left: 1px solid #ddd;
      margin-right: -5px; }
      .flip-scroll tbody tr:first-child {
        border-left: 0px solid #ddd; }
  .flip-scroll .cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; } }
    
/* secure sites changes */
.ssnLegend {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 700;
	max-width: 100%;
	cursor: default;
	font-size: 15px;
	border-bottom:none;
}
#ssn_3_1, #phone_0_1, #phone_0_2,#phone_1_1, #phone_1_2,#phone_2_1, #phone_2_2, #hom_3_1, #hom_3_2, #wor_3_1, #wor_3_2 {
	max-width:65px;
	display: inline-block;
}
#ssn_3_2{
	max-width:55px;
	display: inline-block;
}
#ssn_3_3, #phone_0_3,#phone_1_3,#phone_2_3, #hom_3_3, #wor_3_3 {
	max-width:75px;
	display: inline-block;
}
select[disabled] {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) right .75rem center no-repeat #f2f2f2!important;
	background-image:none\9;
	background-size:8px 10px!important;
}
#pleaseWait{
	top:50%;
	left:50%;
	position: fixed;
	margin-left:-40px;
	padding: 25px;
	border:1px solid #ccc;
	z-index: 100;
	background-color:rgba(239, 239, 239, 0.7);
	border-radius:5px
}
.dropdown-menu {
    overflow-y: hidden;
}
.success{ color: #333; }
#stepTimeAway .fa-chevron-right, #stepTimeAway .fa-chevron-down
{
	margin:0 10px 0 0;
}
.colorLegend { list-style: none; }
.colorLegend li { margin-bottom: 5px; }
.colorLegend span { border: 1px solid #979797; width: 20px; height: 20px; margin: 10px 5px 0; overflow:hidden; display:inline-block; }
.colorToday { background-color: #E3F2F4; }
.colorHoliday { background-color: #FDD200; }
.colorAbsence { background-color: #F9F8FC; }
.colorContinuous { background-color: #07639D; }
.colorRelevant { background-color: #459595; }
.colorWork { background-color: #B43582; }
.color-scheme-navy .panel-accordion-default {
	background-color:transparent;
	border-bottom-color:#fff;
	border-left-width:0
}
/*PANELS FOR LEFT SIDE */
.panel-title {
	font-size: 15px;
}
.panel-accordion-default .panel-title a {
	padding: 16px 10px;
}
.panel-accordion-default .panel-body {
	padding: 5px 20px 15px 20px;
}
/* CALENDAR STYLES */
.fc-unthemed td.fc-today {
	background-color: #E3F2F4;
}
.fc-highlight {
	background-color: #ccc;
}
.fc-button-group,
.fc button {
	display: inline-block;
}
.fc-state-default {
	border: 1px solid;
	background-color: #fff;
	background-image: none;
	background-repeat: none;
	border-color: #CCC;
	border-color: none;
	color: #333;
	text-shadow: none;
	box-shadow: none;
}
.fc tbody .fc-row,
.fc-content-skeleton,
.fc tbody .fc-row .fc-content-skeleton table {
	height: auto !important;
	min-height: 100px !important;
}
.fc-basic-view .fc-day-number,
.fc-basic-view .fc-week-number,
.fc th {
	padding: 10px;
}
/* HIDING THINGS. This can probably just be done with a hidden class... */
.calendar-forms,
.intermittent-repeat-options,
.type-of-absence-section {
	display: none;
}
.time-control {
	display:inline-block;
	max-width:77px;
}
.fc-day-grid-event {
	padding-left: 5px;
}
/* NOT USED */
.pointer {
	cursor: pointer;
}